services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    restart: always
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_CONNECTION_STRING: "amqp://guest:guest@localhost:5672/"  
    volumes:
      - ./rabbitmq:/var/lib/rabbitmq
