services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq_con
    restart: always
    ports:
      - "5672:5672"
      - "15672:15672"
    env_file:
      - .env
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "-q", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - ~/.docker-conf/rabbitmq/data/:/var/lib/rabbitmq/
      - ~/.docker-conf/rabbitmq/log/:/var/log/rabbitmq/

  postgres:
    image: postgres:18
    restart: always
    container_name: postgres_db
    volumes:
      - ./migrations:/docker-entrypoint-initdb.d 
      - pgdata:/var/lib/postgresql
    ports:
      - "5432:5432"
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_DB: ${POSTGRES_DB}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $POSTGRES_USER -d $POSTGRES_DB"]
      interval: 10s
      timeout: 5s 
      retries: 5 
      start_period: 10s

  redis:
    image: redis:7.4-alpine
    container_name: redis_con
    restart: always
    env_file:
      - .env
    environment:
      REDIS_PASSWORD: ${REDIS_PASSWORD}
    command: redis-server --requirepass ${REDIS_PASSWORD} --appendonly yes
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "--raw", "incr", "ping"]
      interval: 30s
      timeout: 10s
      retries: 3

  app:
    depends_on:
      rabbitmq:
        condition: service_healthy
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    container_name: notification_service
    build: .
    environment:
      REDIS_URL: ${REDIS_URL}
      POSTGRES_URL: ${POSTGRES_URL}
      RABBITMQ_URL: ${RABBITMQ_URL} 
    env_file:
      - .env
    
volumes:
  redis_data:
    driver: local
  pgdata:
