services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    restart: always
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_CONNECTION_STRING: "amqp://guest:guest@localhost:5672/"  
    volumes:
      - ~/.docker-conf/rabbitmq/data/:/var/lib/rabbitmq/
      - ~/.docker-conf/rabbitmq/log/:/var/log/rabbitmq/

  postgres:
    image: postgres:18
    restart: always
    container_name: postgres_db
    volumes:
      - .:/docker-entrypoint-initdb.d 
      - pgdata:/var/lib/postgresql
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: notification_service_db
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $(POSTGRES_USER) -d $(POSTGRES_DB)"]
      interval: 10s
      timeout: 5s 
      retries: 5 
      start_period: 10s

  redis:
    image: redis:7.4-alpine
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data


volumes:
  redis_data:
    driver: local 
  pgdata:
